#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Telegram
Comment=Telegram desktop app
Exec=/home/exequiel/Software/Telegram/Telegram
Icon=/usr/share/icons/MyIcons/telegram-icon.svg
Terminal=false
